# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/images/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/assets/images/01d.png
lib/assets/images/01n.png
lib/assets/images/02d.png
lib/assets/images/02n.png
lib/assets/images/03d.png
lib/assets/images/03n.png
lib/assets/images/04d.png
lib/assets/images/04n.png
lib/assets/images/09d.png
lib/assets/images/09n.png
lib/assets/images/10d.png
lib/assets/images/10n.png
lib/assets/images/11d.png
lib/assets/images/11n.png
lib/assets/images/13d.png
lib/assets/images/13n.png
lib/assets/images/50d.png
lib/assets/images/50n.png
lib/assets/images/high_rain.png
lib/assets/images/high_sunn.png
lib/assets/images/lettle_rain_flash.png
lib/assets/images/rain_and_flash.png
lib/assets/images/rain.png
lib/assets/images/snow.png
lib/assets/images/soft_sun_and_cloud.png
lib/assets/images/soft_sun.png
lib/assets/images/sun_and_cloud.png
